.vc-home {
    background-image: url('../img/wallhaven.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form-user {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-user-wrapper {
    padding: 50px 30px;
    background-color: #47453b;
    border-radius: 8px;
}

.input-main::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    text-align: center;
    opacity: 1; /* Firefox */
    font-weight: 200;
}
.input-main::placeholder {
    font-size: 22px;
    font-weight: 200;
}

.input-main:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    text-align: center;
    font-weight: 200;
}

.input-main::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    text-align: center;
    font-weight: 200;
}

.wc-home-title {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 200;
}
.wc-home-title:first-letter {
  font-size: 55px;
}

.bg {
    background-color: #000;
}

.bar {
    height: 65px;
}

.btn-main {
    margin-top: 35px;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    color: #000;
    font-size: 25px;
    font-weight: 200;
    padding: 10px 30px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9);
    background-color: #fff;
    text-transform: uppercase;
}

.btn-main:hover {
    color: #f2f2f2;
    background-color: rgba(19, 22, 99, 0.3);
    cursor: pointer;
}

@-webkit-keyframes blobCheckAnim {
    0% { left: 0; }
    33% {
        border-bottom-right-radius: 25% 50%; 
        border-top-right-radius: 25% 50%;
        border-bottom-left-radius: 50%; 
        border-top-left-radius: 50%;
        width: 30px;
        height: 20px;
        left: 0;
        top: 10px;
        background-color: violet;
    }
   
    
    100% { left: 30px; }
}

@-webkit-keyframes blobUncheckAnim {
    0% { left: 30px; }
    33% {
        border-bottom-left-radius: 25% 50%; 
        border-top-left-radius: 25% 50%;
        border-bottom-right-radius: 50%; 
        border-top-right-radius: 50%;
        width: 30px;
        height: 20px;
        left: 0px;
        top: 10px;
    }
   
    
    100% { left: 0px; }
}

.blobContainer {
    width: 62px;
    height: 32px;
    padding: 0px;
    border: 1px solid #fff;
    border-radius: 41px;
}
.blob { 
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 41px;   
    position: relative;
    left: 0;
    top: 0;
    -webkit-animation: blobUncheckAnim .25s ease-out;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .8);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .8);
}
.blobContainer.checked .blob {
    -webkit-animation: blobCheckAnim .25s ease-out;
    left: 30px;
}

.blob_on {
  background-color:#000 !important;
  border: 1px solid #fff;
}

.changeBg{
  background-color: #a6a9d6;
}

.goBack {
    position: fixed;
    bottom: 30px;
    color: #fff;
}

.goBack a {
    color: #fff;
}

@media only screen and (max-width: 586px) {
    .bar {
        height: auto;
    }
    .goBack {
        position: absolute;
        bottom: 15px;
    }
}
